{% extends "layout.html.twig" %}


{% block content %} 

    <div class="intro-body">
        <div class="container">
            Les First Rangers
            <p>First rangers un nom d'équipe comique pour définir la 1ère rangée.<br>
                Bien sur ca ne veut pas dire cela.</p>

            <p>La première rangée c'est :</p><br>
            <ul>
                <li>Une bande de camarades de classe</li>
                <li>Un sacrée mélange ethnique</li>
                <li>Des personnalités différentes</li>
                <li>Mais surtout des élèves de haut niveau.</li>


        </div>
    </div>


{% endblock %}
