{% extends "layout.html.twig" %}


{% block content %} 
    <div class="calendar-body">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <label for="datepicker">Calendrier</label>
                    <input id="datepicker" class="datepicker" data-date-format="mm/dd/yyyy">
                </div>
            </div>
        </div>
    </div>

    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <div id="map"></div>
                    <div id='message'></div>

                </div>
            </div>
        </div>
    </div>



    <!-- Map Section -->
    <div class="container">
        <div class="row">
            <div id="resume" class="col-md-12" style="text-align: center; margin-bottom: 50px;">
                Statistiques régionales des six dernières heures<br>
                L'humeur régionale est de {{ map.districtMood }} / 20<br>
                Département de meilleure humeur : {{ map.bestMoodDepartment }}<br>
                Département de moins bonne humeur : {{map.worstMoodDepartment}}<br><br>
                Cliquez sur un département pour lire le détail
            </div>
        </div>
    </div>
     
            
    
                
{% endblock %}